include LICENSE.txt
include README.md
include VERSION
include check.sh
include pythenv.sh
include tests/conftest.py
include tests/disabled_test_lovecat.py
include tests/disabled_test_render_utils.py
include tests/disabled_test_simulate_univariate.py
include tests/disabled_test_uncorrelated_simulate.py
include tests/disabled_test_vscgpm.py
include tests/disabled_test_vsinline.py
include tests/disabled_test_vsinline_determinism.py
include tests/graphical/animals.py
include tests/graphical/depprob_id.py
include tests/graphical/dpmm_nignormal.py
include tests/graphical/one_view.py
include tests/graphical/recover.py
include tests/graphical/resources/satellites.csv
include tests/graphical/slice.py
include tests/graphical/two_views.py
include tests/graphical/zero_corr.py
include tests/stochastic.py
include tests/test_bernoulli.py
include tests/test_check_env_debug.py
include tests/test_cmi.py
include tests/test_constr_crp.py
include tests/test_crp.py
include tests/test_dependence_probability.py
include tests/test_diagnostics.py
include tests/test_engine_dimensions.py
include tests/test_ensure_ind.py
include tests/test_exponentials_transition_hypers.py
include tests/test_factor_analysis.py
include tests/test_forest.py
include tests/test_get_vqe.py
include tests/test_gpmcc_simple_composite.py
include tests/test_importance_helpers.py
include tests/test_impossible_evidence.py
include tests/test_incorporate_dim.py
include tests/test_incorporate_row.py
include tests/test_iter_counter.py
include tests/test_linreg.py
include tests/test_linreg_mixture.py
include tests/test_logsumexp.py
include tests/test_lw_rf.py
include tests/test_mvkde.py
include tests/test_mvknn.py
include tests/test_normal_categorical.py
include tests/test_ols.py
include tests/test_piecewise.py
include tests/test_populate_evidence.py
include tests/test_serialize.py
include tests/test_stochastic.py
include tests/test_teh_murphy.py
include tests/test_type_check.py
include tests/test_update_cctype.py
